spring:
  application:
    name: oauth2

  security:
    oauth2:
      client:
        registration:
          kakao:
            redirect-uri: "http://localhost:8080/login/oauth2/code/kakao" # yml ???? {} ? spring ????? ???? ?? ?? " " ??
            authorization-grant-type: authorization_code
            client-id: ${KAKAO.CLIENT_ID} # ?? -> REST API ?
            client-secret: ${KAKAO.CLIENT_SECRET} # ??? ??? -> ?? -> Client Secret ??
            client-authentication-method: client_secret_post
            client-name: kakao
            scope:
              - profile_nickname
              - profile_image
              - account_email
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize # "?? ?? ??" ??
            token-uri: https://kauth.kakao.com/oauth/token # "?? ??" ??
            user-info-uri: https://kapi.kakao.com/v2/user/me # "??? ?? ????" ??
            user-name-attribute: id # ??? . ???? ?? "id" ??
